<head>
    {{ template "_internal/google_analytics.html" . }}
</head>
<!--Inject Mermaid-->
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>mermaid.initialize({ startOnLoad: true, securityLevel: 'loose' });</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4912480012550644"
     crossorigin="anonymous"></script>
<!--End Inject Mermaid-->

<!-- ref: https://lisenhui.cn/ -->
<link href="{{ .Site.BaseURL }}css/main.css" rel="stylesheet" type="text/css" />
<link href="{{ .Site.BaseURL }}css/style.css" rel="stylesheet" type="text/css" />
